main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 81.5vh;
}

form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(14, 14, 14, 0.87);
    width: 1050px;
    margin: 20px 0 40px 0;
}

h2 {
    color: #FF8C00;
    margin-top: 10px;
    text-align: center;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-container:hover .profile-picture,
.profile-picture-container:focus-within .profile-picture {
    border-color: #ea8102;
    box-shadow: 0 1px 7px #fa8a02;
}

.profile-picture {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow:  0 1px 10px rgba(0, 0, 0, 0.87);
}

.file-input {
    display: none;
}

.camera-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #eeecfc;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 3px solid white;
}

.camera-icon i {
    margin-top: -1.5px;
    font-size: 20px;
}

.photo-lbl {
    text-align: center;
    margin: 0;
}

.form-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.form-container{
    margin: 20px auto 30px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(14, 14, 14, 0.87);
    padding: 20px;
    color: #f1f1f1;
    width: 800px;
    display: grid;
    grid-template-columns: 66% 34%;
    background-color: #232628;
}
label {
    margin-left: 5px;
    font-size: 15px;
    color: #E0E0E0;
}

input{
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    margin-top: 5px;
    color: #E0E0E0;
}
input:hover{
    border-bottom: 1px solid #FF8C00;
}
input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #FF8C00;
    background-color: transparent;
}

.form-group-1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 10px;
}
.user-info{
    width: 500px;
    margin-right: 10px;
}

h4{
    padding-bottom: 20px;
    margin-left: 5px;
    color: #f8b45d;
}

.user{
    text-align: center;
    margin-top: -20px;
}

#username {
    max-width: 390px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.fname{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 5px;

    height: 50px;
    display: flex;
    flex-direction: column;
}
.lname{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 5px;

    height: 50px;
    display: flex;
    flex-direction: column;
}

.phone{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10px;
    padding-right: 5px;

    height: 50px;
    display: flex;
    flex-direction: column;
}

.date{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10px;
    padding-left: 5px;

    height: 50px;
    display: flex;
    flex-direction: column;
}

.email {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 10px;
    padding-right: 5px;

    height: 50px;
    display: flex;
    flex-direction: column;
}

.address{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 10px;

    height: 50px;
    display: flex;
    flex-direction: column;
}

.form-group-2{
    width: 250px;
    margin-left: 5px;
}

.old-password{
    height: 50px;
    display: flex;
    flex-direction: column;
}

.password{

    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
}
.confirm{

    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.hr-btn {
    width: 70%;
    margin: 10px 0 10px 150px;
    border: 1px solid #445056;
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.update {
    background-color: rgb(34, 36, 38);
    color: #E0E0E0;
    padding: 12px;
    border: 2px solid #ea8102;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100px;
    margin: 10px 0;
}
.update:hover {
    color: #FF8C00;
    background-color: rgb(32, 34, 37);
    transform: scale(0.99);
}

.fa-camera-retro {
    background-color: transparent;
    color: rgba(27, 29, 31, 0.99);
}
