.filter-container {
    margin-right: 220px;
    padding-right: 23px;
}

.filter-section {
    margin: 10px;
    max-width: 230px;
    padding: 20px;
    box-shadow: 2px -2px 2px rgba(96, 96, 96, 0.1);
    border-right: 1px solid rgba(255, 165, 0, 0.45);
    border-top: 1px solid rgba(255, 165, 0, 0.45);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 570px;
    overflow-y: auto;
    position: fixed;
    top: 70px;
    z-index: 999;
}

.filter-item {
    margin-bottom: 20px;
}

.filter-item label {
    margin-left: 60px;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-item select {
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.filter-item select:focus {
    position: relative;
    z-index: 100;
}

.book-list-container {
    min-height: 581px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    padding: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

.book-container {
    display: flex;
}

.card {
    position: relative;
    width: 200px;
    box-shadow: 2px 2px 2px 2px rgba(75, 75, 75, 0.1);
    border-right: 2px solid rgba(255, 165, 0, 0.65);
    border-bottom: 2px solid rgba(255, 165, 0, 0.65);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 3px;
}

.card:hover {
    transform: scale(1.05);
}

.img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 220px;
    text-align: center;
    padding: 6px 5px 4px 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
}

.fa-heart {
    color: red;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.fa-heart-crack {
    color: #0ccebd;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}
