.load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 29, 31, 0.5);
}

.loader {
    width: 40px;
    height: 20px;
    --c:no-repeat radial-gradient(farthest-side, orange 93%,#0000);
    background:
        var(--c) 0    0,
        var(--c) 50%  0,
        var(--c) 100% 0;
    background-size: 8px 8px;
    animation: l4-0 1s linear infinite alternate;

    position: relative;
    top: 40%;
    left: 50%;
}

.loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: #E0E0E0;
    left: 0;
    top: 0;
    animation:
        l4-1 1s  linear infinite alternate,
        l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l4-0 {
    0%      {background-position: 0  100%,50% 0   ,100% 0}
    8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
    50%     {background-position: 0  0   ,50% 100%,100% 0}
    58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
    100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}
@keyframes l4-1 {
    100% {left:calc(100% - 8px)}
}
@keyframes l4-2 {
    100% {top:-0.1px}
}

.load-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-2 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #ffa516 #0000;
    animation: l1 1s infinite;

    position: absolute;
    top: 42%;
    left: 48.5%;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
