* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(27, 29, 31, 0.99);
    color: #E0E0E0;
}

header {
    margin-bottom: 70px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 27, 28);
    padding: 12px 20px;
    border-bottom: 2px solid #2b3236;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    color: #FF8C00;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: #E0E0E0;
    font-size: 16px;
}

.navbar-links a:hover {
    color: #FF8C00;
}

.navbar-links #back {
    text-decoration: none;
    color: #E0E0E0;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.navbar-links #back:hover {
    color: #FF8C00;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #2C3338;
    background-color: #1A1A1A;
    color: #E0E0E0;
    border-radius: 10px;
    width: 250px;
}
.search-form i{
    font-size: 18px;
    margin-left: 5px;
    color: #445056;
}

.navbar-user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-link {
    text-decoration: none;
    font-size: 16px;
    margin-right: 30px;
    border: 2px solid #2C3338;
    border-radius: 10px;
    padding: 7px;
    color: #E0E0E0;
    transition: color 0.3s, text-shadow 0.3s;
}

.login-link:hover {
    border: 2px solid #c54d01;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.user-dropdown {
    position: relative;
    margin-right: 30px;
    border: 2px solid #2C3338;
    border-radius: 10px;
    padding: 7px;
    color: #E0E0E0;
    transition: color 0.3s, text-shadow 0.3s;
}

.user-dropdown:hover {
    border: 2px solid #FF8C00;
}

.dropdown-toggle {
    max-width: 390px;
    background: none;
    border: none;
    font-size: 16px;
    color: #02a202;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #262c31;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #E0E0E0;
    display: block;
}

.dropdown-menu li .logout {
    border: transparent;
    text-decoration: none;
    color: #E0E0E0;
    background-color: transparent;
    font-size: 16px;
}

.dropdown-menu li:hover {
    background-color: #202528;
}

.user-dropdown .dropdown-menu.show {
    display: block;
}

.indicator {
    color: #FF8C00;;
    font-size: 1.2em;
    margin-left: 5px;
}
