body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
}

#ban_countdown {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 20px;
}

a {
    background-color: rgb(29, 31, 35);
    color: #E0E0E0;
    border: 1px solid #ea8102;
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    color: #FF8C00;
    background-color: rgb(27, 29, 31);
    transform: scale(0.99);
}
