.navbar-links {
    margin-right: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 81.5vh;
}

.options-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px auto;
}

.options-con button {
    font-size: 17px;
    margin: 0 15px -2px 15px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 2;
    color: #E0E0E0;
}
.options-con button.active {
    border-bottom: 3px solid orange;
}
.options-con hr {
    margin-bottom: 20px;
    border: 0.1px solid #596972;
    width: 420px;
    position: relative;
    z-index: 1;
}

#btn_new_book { cursor: pointer;}
#btn_up_book { cursor: pointer;}
#btn_del_book { cursor: pointer;}

/*---------------- options end -------------------*/

/*----------------- New book start -------------------*/
h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

#addBookForm, #upBookForm, #delBookForm {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(14, 14, 14, 0.87);
    width: 650px;
    text-align: center;
    margin-bottom: 20px;
}

.add-file-container {
    display: flex;
}

/*------------------------------------ Cover img start ------------------------------------*/

.cover-image-container, .demo-image-container, .content-image-container {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.cover-image-container:hover .cover-picture,
.cover-image-container:focus-within .cover-picture,
.demo-image-container:hover .demo-picture,
.demo-image-container:focus-within .demo-picture,
.content-image-container:hover .content-picture,
.content-image-container:focus-within .content-picture{
    border-color: #ea8102;
    box-shadow: 0 1px 7px #fa8a02;
}


.cover-picture, .demo-picture, .content-picture {
    width: 125px;
    height: 125px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    z-index: 10;
    box-shadow:  0 1px 10px rgba(0, 0, 0, 0.87);
}

.cover-file-input, .demo-file-input, .content-file-input {
    display: none;
}

.cover-icon, .demo-icon, .content-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #eeecfc;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 3px solid white;
    z-index: 1;
}

.cover-icon i, .demo-icon i, .content-icon i {
    margin-top: -1.5px;
    font-size: 20px;
}

.cover-lbl, .demo-lbl, .content-lbl {
    text-align: center;
    margin: 0;
}

.cover-form-img, .demo-form-img, .content-form-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.file-hr {
    width: 100%;
    max-width: 530px;
    margin: 10px auto 20px auto;
    border: 1px solid #445056;
}

label {
    font-size: 15px;
    color: #E0E0E0;
}

input{
    max-width: 530px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #E0E0E0;
    margin: 5px 0 0 40px;
    text-align: center;
}
input:hover{
    border-bottom: 1px solid #FF8C00;
}
input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid orange;
    background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

textarea {
    min-width: 530px;
    width: 100%;
    max-width: 530px;
    margin: 20px auto;
    min-height: 100px;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 15px rgba(26, 26, 26, 0.87);
    color: #E0E0E0;
    background-color: rgba(39, 40, 44, 0.68);
    border: 2px solid #8c8b8b;
}
textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid #ea8102;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
    background-color: #b6b5b5;
}

.title, .authors, .genres, .year, .pages, .price {
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.btn-add-book {
    background-color: rgb(29, 31, 35);
    color: #E0E0E0;
    padding: 12px;
    border: 1px solid #ea8102;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100px;
    margin: 10px auto 5px auto;
}

.btn-add-book:hover {
    color: #FF8C00;
    background-color: rgb(27, 29, 31);
    transform: scale(0.99);
}

.up-custom-selector, .del-custom-selector{
    position: relative;
    width: 350px;
    font-family: Arial, sans-serif;
    margin-top: -41.5px;
    top: 40px;
    right: 380px;
}

.selector-display {
    padding: 10px;
    box-shadow: 2px -2px 2px rgba(96, 96, 96, 0.1);
    border: 2px solid rgba(255, 165, 0, 0.45);
    border-radius: 15px;
    cursor: pointer;
    background-color: #232628;
}

.selector-display:hover, .selector-display:focus {
    background-color: #212426;
    border: 2px solid rgba(255, 165, 0, 0.61);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: #232628;
    z-index: 1000;
    max-height: 495px;
    overflow-y: auto;
}

.dropdown::-webkit-scrollbar {
    width: 8px;
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 0.1px solid #a45a03;
    border-radius: 5px;
}

.dropdown::-webkit-scrollbar-track {
    background-color: #8c8b8b;
    border-radius: 10px;
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list li:hover, .dropdown-list li.selected {
    background-color: #1d1f21;
}

.del-book {
    min-height: 525px;
}

.fa-book, .fa-book-open-reader, .fa-book-open {
    background-color: transparent;
    color: rgba(27, 29, 31, 0.99);
}
