.filter-container {
    margin-right: 220px;
    padding-right: 23px;
}

.filter-section {
    margin: 10px;
    max-width: 230px;
    padding: 20px;
    box-shadow: 2px -2px 2px rgba(96, 96, 96, 0.1);
    border-right: 1px solid rgba(255, 165, 0, 0.45);
    border-top: 1px solid rgba(255, 165, 0, 0.45);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 570px;
    overflow-y: auto;
    position: fixed;
    top: 70px;
    z-index: 999;
}

.filter-item {
    margin-bottom: 20px;
}

.filter-item label {
    margin-left: 60px;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-item select {
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.filter-item select:focus {
    position: relative;
    z-index: 100;
}

.book-list-container {
    min-height: 581px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    padding: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}


.book-container {
    display: flex;
}

.card {
    position: relative;
    width: 200px;
    box-shadow: 2px 2px 2px 2px rgba(75, 75, 75, 0.1);
    border-right: 2px solid rgba(255, 165, 0, 0.65);
    border-bottom: 2px solid rgba(255, 165, 0, 0.65);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 3px;
}

.card:hover {
    transform: scale(1.05);
}

.img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 220px;
    text-align: center;
    padding: 6px 5px 4px 5px;
    font-size: 16px;
    font-weight: bold;
}

.fa-heart {
    color: red;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.fa-heart-crack {
    color: #0ccebd;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.note-icon {
    color: #be4a01;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}
.note-icon:hover {
    color: #ea5d02;
}

#noteModal, #noteModal_2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#noteModal_2 {
    top: -17px;
}

.back_c {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-content {
    position: relative;
    background-color: rgb(28, 30, 33);
    padding: 10px 20px 15px 20px;
    border-radius: 15px;
    width: 798px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: #E0E0E0;
    text-align: center;
    margin: 10% auto;
}

#noteTextarea, #noteTextarea_2 {
    max-width: 753px;
    min-width: 753px;
    min-height: 250px;
    max-height: 405px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 20px rgba(26, 26, 26, 0.87);
    color: #E0E0E0;
    background-color: rgba(37, 38, 42, 0.68);
    border: 1px solid #445056;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
}

#noteTextarea::-webkit-scrollbar {
    width: 8px;
}

#noteTextarea::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid #ea8102;
    border-radius: 5px;
}

#noteTextarea::-webkit-scrollbar-track {
    background-color: #b6b5b5;
}

#saveNote, #closeModal, #saveNote_2, #closeModal_2 {
    background-color: #2b2d2f;
    color: #E0E0E0;
    border: 2px solid #ea8102;
    border-radius: 15px;
    padding: 10px;
    width: 75px;
    height: 40px;
}

#saveNote:hover, #closeModal:hover {
    color: #FF8C00;
    background-color: #232628;
    transform: scale(0.99);
}

#closeModal, #closeModal_2 {
    margin-left: 10px;
}

.close-note {
    position: relative;
    top: -7px;
    right: -12px;
    color: #E0E0E0;
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.close-note:hover,
.close-note:focus {
    color: #949494;
    text-decoration: none;
    cursor: pointer;
}
