main {
    color: #E0E0E0;
}

.book-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    min-height: 571px;
}

.info-container {
    flex: 1;
    max-width: 300px;
}

.book-cover img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.70);

}

.book-options {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-options button{
    background-color: rgb(27, 29, 31);
    color: #E0E0E0;
    padding: 10px;
    border: 1px solid #ea8102;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}
.book-options button:hover {
    color: #FF8C00;
    background-color: rgb(24, 26, 28);
    transform: scale(0.99);
}

.book-info {
    box-shadow: 0 1px 10px rgba(38, 38, 38, 0.87);
    margin-top: 15px;
    padding: 10px 10px 10px 15px;
    border: 1px solid #445056;
    border-radius: 10px;
}

.book-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #E0E0E0;
}

.comment-container {
    flex: 2;
    margin-left: 10px;
    margin-top: 5px;
}

.info-comments {
    border: 1px solid #445056;
    border-radius: 10px;
    padding: 15px;
    min-height: 657px;
    box-shadow: 0 1px 10px rgba(38, 38, 38, 0.87);
}

.book-title h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.options-con button {
    font-size: 17px;
    margin-right: 10px;
    margin-bottom: -2px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #E0E0E0;
}
.options-con button.active {
    border-bottom: 3px solid #ea8102;
}
.options-con hr {
    margin-bottom: 20px;
    border: 0.1px solid #596972;
}

.book-description p{
    font-size: 16px;
    margin: 0 0 10px 0;
    white-space: pre-line;
    color: #E0E0E0;
}
.book-description #bookDescription{
    font-size: 16px;
    margin: 0 0 20px 15px;
    font-family: 'Arial', sans-serif;
    line-height: 1.3;
}

.book-genres p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.comments-con {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #445056;
    border-radius: 10px;
    box-shadow: 0 1px 20px rgba(17, 17, 17, 0.87);
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    color: #E0E0E0;
    background-color: rgba(34, 37, 40, 0.68);
    box-shadow: 0 2px 5px #0c0c0c;
    width: 100%;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-photo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.comment-info {
    display: flex;
    flex-direction: column;
    color: #E0E0E0;
}

.comment-username {
    max-width: 995px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    color: #E0E0E0;
}

.comment-username:hover {
    color: #FF8C00;
}

.comment-date {
    font-size: 0.85rem;
    color: #888;
}

.comment-content {
    color: #E0E0E0;
    margin: 3px 0;
    overflow: hidden;
    white-space: pre-line;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.comment-footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    justify-content: flex-end;
}

.report-button, .edit-button, .cancel-button, .delete-button {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(39, 40, 44, 0.71);
    color: #E0E0E0;
    border: 1px solid #ea8102;
    border-radius: 10px;
}

.report-button:hover, .edit-button:hover, .cancel-button:hover, .delete-button:hover {
    background-color: rgb(27, 29, 31);
    transform: scale(0.95);
}

.report-button:hover i, .edit-button:hover i, .cancel-button:hover i, .delete-button:hover i{
    color: #FF8C00;
}

#commentInput {
    box-shadow: 0 2px 15px rgba(19, 19, 19, 0.87);
    color: #E0E0E0;
    background-color: rgba(34, 37, 40, 0.68);
    border: 2px solid #445056;
    border-radius: 10px;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.edit-textarea {
    color: #E0E0E0;
    background-color: rgba(34, 37, 41, 0.68);
    border: 2px solid #445056;
    width: 100%;
    min-width: 1045px;
    max-width: 1045px;
    min-height: 100px;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

#commentInput::-webkit-scrollbar, .edit-textarea::-webkit-scrollbar {
    width: 8px;
}

#commentInput::-webkit-scrollbar-thumb, .edit-textarea::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid #ea8102;
    border-radius: 5px;
}

#commentInput::-webkit-scrollbar-track, .edit-textarea::-webkit-scrollbar-track {
    background-color: #b6b5b5;
}

.option-com-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#btn-comments { cursor: pointer;}
#btn-info { cursor: pointer;}

#sendCommentButton {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: rgb(27, 29, 31);
    color: #E0E0E0;
    border: 1px solid #ea8102;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}

#rules i {
    color: rgba(218, 1, 1, 0.82);
    position: relative;
    top: 3px;
}

#rules {
    position: absolute;
    margin-right: 110px;
    display: block;
    width: 120px;
    padding: 10px;
    background-color: transparent;
    color: #E0E0E0;
    border: 1.5px dashed #ea8102;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}
#rules:hover {
    color: #FF8C00;
    transform: scale(0.99);
}

#sendCommentButton:hover {
    color: #FF8C00;
    background-color: rgb(24, 26, 28);
    transform: scale(0.99);
}

.modal-rule {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content-rule {
    position: absolute;
    background-color: rgba(31, 33, 35, 0.99);
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: #E0E0E0;
}

.close-rule {
    position: relative;
    top: -20px;
    right: -12px;
    color: #E0E0E0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-rule:hover,
.close-rule:focus {
    color: #949494;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgba(31, 33, 35, 0.99);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: #E0E0E0;
    text-align: center;
}

.reasons-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.reasons-list li {
    margin: 5px 0;
}

.reason-button {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #2b2d2f;
    color: #E0E0E0;
    cursor: pointer;
    border-radius: 7px;
    margin: 2px 0;
    transition: background 0.3s;
}

.reason-button:hover,
.reason-button.selected {
    border-color: #ea8102;
    background-color: #222426;
    color: #FF8C00;
}

#customReason {
    max-width: 360px;
    min-width: 360px;
    height: 50px;
    max-height: 350px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 15px rgba(26, 26, 26, 0.87);
    color: #E0E0E0;
    background-color: rgba(39, 40, 44, 0.68);
    border: 2px solid #121618;
}

#customReason::-webkit-scrollbar, .edit-textarea::-webkit-scrollbar {
    width: 8px;
}

#customReason::-webkit-scrollbar-thumb, .edit-textarea::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid #ea8102;
    border-radius: 5px;
}

#customReason::-webkit-scrollbar-track, .edit-textarea::-webkit-scrollbar-track {
    background-color: #b6b5b5;
}

.modal-actions {
    margin-top: 15px;
}

.modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitReason {
    background-color: #2b2d2f;
    color: #E0E0E0;
    border: 2px solid #ea8102;
    border-radius: 10px;
}
#submitReason:hover, #cancelReport:hover {
    color: #FF8C00;
    background-color: #232628;
    transform: scale(0.99);
}

#submitReason:disabled {
    cursor: not-allowed;
    background-color: #2b2d2f;
    color: #6e6d6d;
    border: 2px solid #7e4603;
    border-radius: 10px;
}

#cancelReport {
    background-color: #2b2d2f;
    color: #E0E0E0;
    border: 2px solid #ea8102;
    border-radius: 10px;
    margin-left: 10px;
}

.comment-footer .fa-pen-to-square, .comment-footer .fa-check, .comment-footer .fa-xmark, .comment-footer .fa-trash-can, .comment-footer .fa-arrow-up, .comment-footer .fa-flag {
    pointer-events: none;
    color: #E0E0E0;
}

.fa-flag {
    font-size: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #1f2123;;
    color: #E0E0E0;
    padding: 5px;
    border-radius: 10px;
    border: 0.1px dashed #ea8102;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    margin-top: 15px;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

#noteModal {
    position: fixed;
    top: 7px;
    left: 165px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.back_c {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-content {
    position: relative;
    background-color: rgb(28, 30, 33);
    padding: 10px 20px 15px 20px;
    border-radius: 8px;
    width: 1125px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: #E0E0E0;
    text-align: center;
    margin: 10% auto;
}

#noteTextarea {
    max-width: 1080px;
    min-width: 1080px;
    min-height: 250px;
    max-height: 420px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 20px rgba(26, 26, 26, 0.87);
    color: #E0E0E0;
    background-color: rgba(37, 38, 42, 0.68);
    border: 1px solid #445056;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
}

#noteTextarea::-webkit-scrollbar {
    width: 8px;
}

#noteTextarea::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid #ea8102;
    border-radius: 5px;
}

#noteTextarea::-webkit-scrollbar-track {
    background-color: #b6b5b5;
}

#saveNote, #closeModal {
    background-color: #2b2d2f;
    color: #E0E0E0;
    border: 2px solid #ea8102;
    border-radius: 15px;
    padding: 10px;
    width: 75px;
    height: 40px;
}

#saveNote:hover, #closeModal:hover {
    color: #FF8C00;
    background-color: #232628;
    transform: scale(0.99);

}

#closeModal {
    margin-left: 10px;
}

.close-note {
    position: relative;
    top: -5px;
    right: -12px;
    color: #E0E0E0;
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.close-note:hover,
.close-note:focus {
    color: #949494;
    text-decoration: none;
    cursor: pointer;
}
