#main-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 81.3vh;
    max-height: 81.3vh;
    border: 2px solid #445056;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(14, 14, 14, 0.87);
}

#chatList {
    width: 25%;
    border-right: 1px solid #445056;
    overflow-y: auto;
    padding: 10px;
}

#chatList::-webkit-scrollbar {
    width: 8px;
}

#chatList::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 0.1px solid #a45a03;
    border-radius: 5px;
}

#chatList::-webkit-scrollbar-track {
    background-color: #949393;
    border-radius: 10px;
}

#chatList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #888888;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(27, 29, 31);
}

.chat-item:hover {
    background-color: rgb(21, 23, 24);
    transform: scale(0.999);
}

.chat-item img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    flex-grow: 1;
    overflow: hidden;
}

.chat-title {
    color: #E0E0E0;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 190px;
}

.chat-date {
    font-size: 13px;
    color: #999;
}

.chat-indicator {
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    border-radius: 50%;
    color: #fff;
    margin: 4px;
}

.delete-chat {
    padding: 5px 6px;
    background-color: rgba(39, 40, 44, 0.71);
    color: #E0E0E0;
    border: 1px solid #ea8102;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    width: 35px;
    margin: 10px 0 10px 2px;
}
.delete-chat:hover {
    background-color: rgb(27, 29, 31);
    transform: scale(0.95);
}

.delete-chat:hover .fa-trash-can {
    color: #FF8C00;
}

.chat-indicator.green {
    padding: 5px;
    background-color: #02a202;
}

.chat-indicator.red {
    text-align: center;
    border-radius: 50%;
    border:2px solid #e07b01;
    color: #E0E0E0;
}

.chat-indicator {
    padding: 1px 4px;
}

.chat-indicator.large-count {
    padding: 4px;
}


#message-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.stopper {
    position: fixed;
    width: 74%;
    height: 10px;
    background-color: rgb(30, 32, 34);
    box-shadow: 0 1px 5px rgba(30, 32, 33, 0.87);
}

#messageList {
    flex-grow: 1;
    padding: 5px 15px;
    overflow-y: auto;
}

#messageList::-webkit-scrollbar, #new-message::-webkit-scrollbar, .edit-area::-webkit-scrollbar {
    width: 8px;
}

#messageList::-webkit-scrollbar-thumb, #new-message::-webkit-scrollbar-thumb, .edit-area::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 0.1px solid #a45a03;
    border-radius: 5px;
}

#messageList::-webkit-scrollbar-track, #new-message::-webkit-scrollbar-track, .edit-area::-webkit-scrollbar-track {
    background-color: #949393;
    border-radius: 10px;
}

.date-separator {
    text-align: center;
    margin: 5px auto 10px auto;
    padding: 5px;
    background-color: rgb(24, 28, 30);;
    border-radius: 20px;
    width: 100px;
}

.message-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    color: #E0E0E0;
    background-color: rgba(34, 37, 40, 0.68);
    box-shadow: 0 2px 5px #0c0c0c;
    border-radius: 10px;
}

.message-header {
    display: flex;
}

.message-item.unread {
    border-left: 5px solid #FF8C00;
}

.message-item img {
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    flex-grow: 1;
}

.message-text {
    font-size: 1rem;
    margin: 5px 0;
}
.message-content-text {
    color: #E0E0E0;
    margin: 3px 0;
    overflow: hidden;
    white-space: pre-line;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.meta {
    display: flex;
}
.message-meta {
    font-size: 12px;
    margin: 3px 0 0 10px;
    color: #999;
}

.message-actions {
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
}

.message-actions button {
    background-color: rgba(38, 39, 44, 0.71);
    color: #E0E0E0;
    border: 1px solid #ea8102;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    width: 40px;
    text-align: center;
}

.message-actions button:hover {
    background-color: rgb(27, 29, 31);
    transform: scale(0.95);
}

.edit-message:hover .fa-pen-to-square, .update-message:hover .fa-check, .cancel-edit:hover .fa-xmark, .delete-message:hover .fa-trash-can  {
    color: #FF8C00;
}

.message-actions .fa-pen-to-square, .message-actions .fa-check, .message-actions .fa-xmark, .message-actions .fa-trash-can, .fa-arrow-up, .delete-chat .fa-trash-can {
    pointer-events: none;
}

.fa-arrow-up {
    font-size: 16px;
}

#messageForm {
    display: flex;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid #445056;
}

#new-message {
    box-shadow: 0 2px 15px rgba(19, 19, 19, 0.87);
    color: #E0E0E0;
    background-color: rgba(34, 37, 40, 0.68);
    border: 2px solid #445056;
    border-radius: 10px;
    width: 100%;
    min-height: 75px;
    padding: 10px;
    resize: vertical;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.edit-area {
    color: #E0E0E0;
    background-color: rgba(34, 37, 41, 0.68);
    border: 2px solid #445056;
    width: 100%;
    min-width: 1041px;
    max-width: 1041px;
    min-height: 100px;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

#send-button {
    background-color: rgba(38, 39, 44, 0.71);
    color: #E0E0E0;
    border: 1px solid #ea8102;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    width: 45px;
    text-align: center;
    margin: 15px 0 0 10px;
    max-height: 45px;
}

#send-button:hover {
    background-color: rgb(27, 29, 31);
}

#send-button:hover .fa-arrow-up{
    color: #FF8C00;
}
